body {
  background-color: #fff0c8;
  padding: 3em;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #390f70;
  font-weight: bold;
}
#app {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}


.App {
  .ConwayGame {
    margin-top: 3em;
  }
  .ConwayGame .grid {
    width: 80vmin;
    height: 80vmin;
  }
  
}
